*{
    margin: 0px;
    padding: 0px;
}
#contenedor{
}
#secciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin: 100px;
}
.hijo{
    margin: 5px;
    position: relative;
}
#arrow{
    margin-left: 660px;
}
#categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
#footer{
    width: 1366px;
    height: 100px;
    background-color: rgb(223, 223, 223);
    text-align: center;
    margin-top: 100px;
}
#texto h4{
    font-family: ZillaSlab-Regular;
    font-weight: lighter;
    color: rgb(134, 134, 134);
    padding: 30px;
}